/* преимущество  заголовок*/
.benefits {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits__item {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.benefits__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}
/* текст ниже заголовка */

.benefits__text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;

  margin-top: 0;
  margin-bottom: 0;
}

/* див иконок наши преимущества */
.benefits__box {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
